<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Bluetooth</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-button @click="Scan()" expand="block" fill="solid">
        <p>Scan</p>
      </ion-button>
      <ion-list>
        <ion-item
          ion-item
          v-for="(item, index) in this.devices"
          :key="index"
        >
          <p>{{ item.name || "unknown" }}</p>
          <p>{{ item.id }}</p>
          <p>{{ item.rssi }}</p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonButton,
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonBackButton,
  IonList,
  IonItem,
  IonButtons,
  IonToolbar,
} from "@ionic/vue";
import { personCircle } from "ionicons/icons";
import { defineComponent } from "vue";
import { BLE as ble } from "@awesome-cordova-plugins/ble";

export default defineComponent({
  name: "ScanBluetooth",
  data() {
    return {
      personCircle,
      devices: [] as any[],
      getBackButtonText: () => {
        const win = window as any;
        const mode = win && win.Ionic && win.Ionic.mode;
        return mode === "ios" ? "Inbox" : "";
      },
    };
  },
  methods: {
    async Scan() {
      console.log("1");
      this.devices = [];
      await ble.scan([], 5).subscribe(device => {
        console.log(JSON.stringify(device));
        this.devices.push(device);
     });
      // this.devices = [{
      //   name: 'test',
      //   id: 1,
      //   rssi: '12'
      // }]
      console.log(this.devices);
    },
  },
  components: {
    IonButton,
    IonBackButton,
    IonContent,
    IonHeader,
    IonTitle,
    IonPage,
    IonButtons,
    IonList,
    IonItem,
    IonToolbar,
  },
});
</script>

<style scoped></style>
